<!DOCTYPE html>
<html>
<head>
  <title>Continuity</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container_12" style="background-color: #003D00; color: #fff">
	  <div class="grid_12">
	    <p style="font-size: 24pt;text-align:left;margin: 0px">
	      Continuity
	    </p>
	    <p style="font-size: 12pt;text-align:left;margin-left: 60px;margin-top:0px;margin-bottom:0px">
	      Social project management
	    </p>
	  </div>
	</div>

	<%= yield %>

	<div class="container_12" style="background-color: #CCEBCC">
	  <div class="grid_12">
		&copy; Srikanth P Shreenivas (<a href="mailto:srikanthps@yahoo.com">srikanthps@yahoo.com</a>)
	  </div>
	  <div class="clear"></div>
	</div>

</body>
</html>
